.chart1-title {
    font-size: 76px;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.detail-box {
    margin-top: 90px;
    overflow: hidden;
    font-size: 40px;
    color: #fff;
}
.detail-box li {
    margin-bottom: 20px;
}
.detail-box .score-box {
    width: 520px;
    float: left;
    margin-right: 20px;
}
.score-box .score {
    font-size: 80px;
}
.score-box .score-title {
    display: inline-block;
    width: 250px;
    text-align: right;
    margin: 0 20px;
}
.score-box .current-score {
    color: #ff6800;
    font-size: 188px;
}
.detail-box .info-box {
    width: 690px;
    float: left;
}
.info-box .small-ft {
    font-size: 40px;
}

.chart-box {
    width: 1850px;
    height: 424px;
    margin: 70px auto 0;
    background: #4a4a4a;
    border: 1px solid #fff;
}
.chart-box .title {
    color: #fff;
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
#main {
    width: 1850px;
    height: 320px;
}