.whole {background: url("../imgs/main-bg.jpg");background-size: cover;}
.Nav_Top{z-index:999;position:relative;width:100%;height: 60px;}
.Nav_Top .logo {margin-left: 5px; float: left;}
.Nav_Top ul{margin:0px;padding:0 0 0 60px;list-style:none; background: url("../imgs/nav-bg.png") no-repeat;width: 1029px;height: 52px;float: left;box-sizing: content-box;}
.Nav_Top_Li{float:left;width:115px;line-height: 52px;text-align:center;color:#FFF;font-size:20px;cursor:pointer; margin:0px; }
.Nav_Top_Li div{width:100%;height:52px;position:relative;}
.Nav_Top_Click ,.Nav_Top_Li:hover{color: #00ffff; font-weight: bold;}

.Nav_Top .current-time {
    font-size: 42px;
    color: #fff;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.middle{ position:relative; width: 100%; float: left; clear: both;}
.middle .left-box {
    width: 339px;
    height: 716px;
    float: left;
    background: url("../imgs/left-bg.png") no-repeat;
    margin-left: 25px;
    margin-top:28px;
    position: relative;
}
.left-box #leftBar {
    width: 339px;
    height: 716px;
}
.middle .main-box {
    width: 1190px;
    height: 770px;
    float: left;
    position: relative;
}
.main-box .filter-box {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}
.main-box .filter-box li {
    display: inline-block;
    padding: 0 5px;
    position: relative;
}
.main-box .filter-box .selected::before {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 100%;
    content: '';
    position: absolute;
    left: 14px;
    top: 4px;
}
.main-box .filter-box li + li{
    border-left: 2px solid #0086ff;
}
.filter-box li i {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #0086ff;
    margin: 0 5px;
    vertical-align: bottom;
}
.middle .right-box {
    width: 341px;
    height: 716px;
    float: right;
    background: url("../imgs/right-bg.png") no-repeat;
    margin-right: 25px;
    margin-top:38px;
    position: relative;
}
.left-box .c-title, .right-box .c-title, .bottom-box .c-title {
    position: absolute;
    top: 30px;
    left: 44px;
    font-size: 16px;
    color: #fff;
}
.right-box .c-title {
    top: 10px;
    left: 48px;
}

.bottom-box {
    width: 1890px;
    height: 236px;
    margin: 0 auto;
    background: url("../imgs/btm-bg.png") no-repeat;
    position: relative;
    clear: both;
}
.bottom-box .c-title {
    top: 10px;
    left: 42px;
}
#btmLine {
    width: 1890px;
    height: 236px;
}

.main-kss {
    width: 298px;
    height: 207px;
    position: absolute;
    background: url("../imgs/main-kss.png") no-repeat center;
    left: 40px;
    bottom: 30px;
}
.door{cursor:pointer;position:absolute; width:132px; height:30px; }
.door-title{color:#fff;font-size:16px;display: inline-block;}
.door-img{display: inline-block;vertical-align: middle;}

.big-map{
    position:absolute;
    width:910px;
    height:620px;
    /*top:35px;*/
    /*left:376px;*/
    z-index:5;;
}
.big-map .img-bg{width: 100%; height: 100%;}

.small-map .map-cover {
    position: absolute;
    width:500px;
    height:500px;
}
.big-map-img{ position:absolute; z-index:1}
.big-map-title{color:#fff; font-size:18px; font-weight:bold; position: absolute;z-index: 2;font-weight: normal;}
/*.Big_Map_Value{ width:85px; height:55px; display:none;}*/
/*.Big_Map_Value_Img{ position:absolute; width:100%; height:100%;}*/
/*.Big_Map_Value_Img img{ width:100%; height:100%;}*/
/*.Big_Map_Value_Title{text-align:center;color:#FFF;font-size:16px;position:absolute;top:5px;left:0px;width:100%;height:100%;}*/
.big-map .map-cover {
    position: absolute;
    width:500px;
    height:500px;
}

.small-map {
    width: 402px;
    height: 394px;
    position: absolute;
    background: url("../imgs/small-bg.png") no-repeat center;
    margin-top: 10px;
}
.small-map .img-bg{width: 100%; height: 100%; }
.small-map .map-cover {
    position: absolute;
    width:200px;
    height:200px;
}
.small-map-img{ position:absolute; z-index:1}
.small-map-title{color:#fff; font-size:18px; font-weight:bold; position: absolute;z-index: 2;font-weight: normal;}


.tip{position:absolute;width:533px;height:432px;top:0;right:0;background:url(../imgs/tip-bg.png); z-index:999;}
.tip-img{ position:absolute; top:12px; left:36px; width:196px; height:105px;}
.tip-img img{ width:100%; height:100%;}
.tip-text{position:absolute;left:246px;top:20px;width:262px;font-size:18px;color:#FFF;line-height: 30px;letter-spacing:2px;font-size: 17px}
.tip-close{ position:absolute; right:0px;top:102px; cursor:pointer;}

.loading{position:fixed; width:272px; height:83px; top:47%; left:47%; z-index:999;}
.loading-img{ position:absolute; width:61px; height:61px; left:29px; top:12px;}
.loading-img img{width:100%; height:100%;}
.loading-title{position:absolute;width:168px;height:42px;left:104px;top:25px;color:#FFF;font-size:25px;letter-spacing:5px;}
.loading-display{ display:none;}